{% extends "index.twig" %}

{% block content %}
    <div class="form section">
        <form action="" method="post">
            <dl>
                <dt>App ID</dt>
                <dd><input type="text" name="appid" /></dd>
                <dt>Secret</dt>
                <dd><input type="text" name="secret" /></dd>
            </dl>
            <p><input type="submit" /></p>
        </form>
    </div>
{% endblock %}
